<section id="one" class="tiles">

        <article>
                <span class="image">
                        <img src="{{ tile.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ tile.url  | relative_url }}" class="link">Nos formations</a></h3>
                        <p>Professionnels de l'audiovisuel, nous partageons le studio d'une des plus grosse radio locale en Île-de-France, afin de proposer un apprentissage immersif le plus proche de la situation de travail.</p>
                </header>
        </article>

        <article>
                <span class="image">
                        <img src="{{ tile.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ tile.url  | relative_url }}" class="link">Nos interventions</a></h3>
                        <p>Spécialistes des transformations numériques et de l'innovation, nous accompagnons votre entreprise dans les conduites du changement.</p>
                </header>
        </article>


        <article>
                <span class="image">
                        <img src="{{ tile.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ tile.url  | relative_url }}" class="link">Nous recrutons</a></h3>
                        <p>Rejoins la tribu</p>
                </header>
        </article>


        <article>
                <span class="image">
                        <img src="{{ tile.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
                        <p>{{ tile.description }}</p>
                </header>
        </article>


        <article>
                <span class="image">
                        <img src="{{ tile.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
                        <p>{{ tile.description }}</p>
                </header>
        </article>


        <article>
                <span class="image">
                        <img src="{{ tile.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
                        <p>{{ tile.description }}</p>
                </header>
        </article>

</section>
