<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}
<!-- JS pour le front -->
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<!-- <script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script> -->
<script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>
  </head>
  <body>

    {% include front-header.html %}

    {{ content }}

    {% include footer.html %}

    </body>
</html>
