<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>

        {% include header-landing.html %}

        <section id="banner" class="major">
            <div class="inner">
                <span class="image">
                    <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
                </span>
                <header class="major">

                    <h1>{{ page.landing-title }}</h1>
                    <p style="text-transform: uppercase;">{{ site.description }}</p>
                </header>
                <div class="content">

                      <ul class="actions">
                          <li><a href="#one" class="button next scrolly bt-alt">Je me forme</a></li>
                      </ul>

                  <!-- Main -->
                  <div id="main">
                    {{ page.description }}

                  </div>
                </div>
            </div>
        </section>

        <!-- Section 1 - à propos -->
        <section id="section1">
          <div class="inner">
            <header class="major">
              <h2>Nous lançons Opencast !</h2>
            </header>
            <p>{{ content }}</p>
          </div>
        </section>

        <!-- Section 2 - Newsletter -->
        <section id="section2" class="bg-alt">
          <div class="inner">
            <header class="major">
              <h2>Soyez informé</h2>
            </header>
            <p>Indiquez votre email pour être invité à l'inauguration et recevoir les premières actus. <br />Nous n'abusons pas des emails et vous pourrez vous désinscrire à tout moment.</p>
            <div class="row">
  			      <form action="{{ site.newsletter_url }}" method="POST" style="width:100%">
                <div class="field half" style="padding:0">
                  <input type="text" name="{{ site.form_email_name }}" id="email" />
                </div>
                <div class="field half">
                  <ul class="actions">
                    <li><input type="submit" value="Envoyer" class="alt" /></li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </section>

        <!-- Section 3 -->
        <section id="section3">
          <div class="inner">
            <header class="major">
              <h2>Ils nous font confiance</h2>
            </header>
            <div class="carousel">
              <div><center><img src="{{ site.baseurl }}/assets/images/logo01.png" alt="Association Libre à Toi" /></center></div>
              <div><center><img src="{{ site.baseurl }}/assets/images/logo02.png" alt="UNREP" /></center></div>
              <div><center><img src="{{ site.baseurl }}/assets/images/logo03.png" alt="Plateau Urbain" /></center></div>
            </div>
          </div>
        </section>

        <!-- Section 4 -->
        <section id="section4" class="bg-alt">
          <div class="inner">
            <header class="major">
              <h2>Nos projets</h2>
            </header>
        			<div class="row">
        				<div class="4u 12u$(medium)">
        					<h3>Nos principes</h3>
        					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
        				</div>
        				<div class="4u 12u$(medium)">
        					<h3>Nos formations</h3>
        					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
        				</div>
        				<div class="4u$ 12u$(medium)">
        					<h3>Nos interventions</h3>
        					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
        				</div>
          </div>
        </section>
        <section id="section5">
          <div class="inner">
            <header>
              <h2>Nous contacter</h2>
            </header>
          </div>
        </section>
        {% include contact.html %}
        {% include footer-landing.html %}

</body>

</html>
